<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>240186091777-r62ipogq5c8s7mmt7hsahao33sa7jp2j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.240186091777-r62ipogq5c8s7mmt7hsahao33sa7jp2j</string>
	<key>API_KEY</key>
	<string>AIzaSyCgek-ywrVZL88yTcdEtukhpwy37kLYjpM</string>
	<key>GCM_SENDER_ID</key>
	<string>240186091777</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.HugApps.BadmintonMatcherClient</string>
	<key>PROJECT_ID</key>
	<string>badmintonmatcher-4f217</string>
	<key>STORAGE_BUCKET</key>
	<string>badmintonmatcher-4f217.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:240186091777:ios:9c6e5acf4becb0b1939300</string>
	<key>DATABASE_URL</key>
	<string>https://badmintonmatcher-4f217.firebaseio.com</string>
</dict>
</plist>